body {
    background: url('fundo-naruto.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
}

.navbar {
    background-color: rgba(255, 69, 0, 0.9);
    padding: 15px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.titulo {
    margin-top: 20px;
    font-size: 2rem;
    font-weight: bold;
   
    color: black; 
}

.input-group {
    max-width: 500px;
    margin: 20px auto;
}

.btn-pesquisar {
    background-color: #ff4500;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.btn-pesquisar:hover {
    background-color: #ff6347;
}

.card-personagem {
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    max-width: 400px;
    box-shadow: 0px 0px 15px rgba(255, 69, 0, 0.8);
    text-align: left;
}

.personagem-img {
    width: 100%;
    border-radius: 10px;
}

.list-group-item {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    border: none;
    text-align: left;
}
.btn-pesquisar {
    background-color: #ff4500;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.3s ease; 
    border-radius: 5px; 
}

.btn-pesquisar:hover {
    transform: translateY(-3px) scale(1.1) rotate(2deg); 
    box-shadow: 0px 8px 20px rgba(255, 69, 0, 0.6); 
}